$very-dark-desaturated-blue-text: hsl(238, 29%, 16%);
$soft-red-text: hsl(14, 88%, 65%);
$very-dark-grayish-blue-text: hsl(237, 12%, 33%);
$dark-grayish-blue-text: hsl(240, 6%, 50%);
$soft-violet-gradient: hsl(273, 75%, 66%);
$soft-blue-gradient: hsl(240, 73%, 65%);
$light-grayish-blue-dividers: hsl(240, 5%, 91%);
$bg-container: #fff;
