@import "color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient($soft-violet-gradient, $soft-blue-gradient);
  background-repeat: no-repeat;
  padding-top: 11em;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
